@using webShop.Model

<li class="cart__item--wrapper">
    <p class="cart__item--remove" @onclick="HandleClick">x</p>
    <p class="cart__item--name">@ShopItem.Name</p>
    <p class="cart__item--price">@ShopItem.Price</p>
</li>

@code {
    [Parameter]
    public ShopItem ShopItem { get; set; } = new();
    
    [Parameter]
    public EventCallback<int> RemoveFromCart { get; set; }

    private async Task HandleClick()
    {
        await RemoveFromCart.InvokeAsync(ShopItem.Id);
    }
}