@page "/Cart"
@using webShop.Abstractions
@using webShop.Model
@using webShop.Ui.Components

@inject ICartService CartService;

<h3>Your shopping Cart</h3>
<ul class="shop__items--wrapper">
    @foreach (var item in ShopItems)
    {   
        <CartItem ShopItem=@item RemoveFromCart=@RemoveItem></CartItem>
    }
</ul>


@code {
    private List<ShopItem> ShopItems { get; set; } = new List<ShopItem>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ShopItems =  CartService.GetItems().ToList();
    }

    private void RemoveItem(int id)
    {
        CartService.RemoveFromCart(id);
        StateHasChanged();
    }
    
}