@page "/Cart"
@using webShop.Abstractions
@using webShop.Model
@using webShop.Ui.Components

@inject ICartService CartService;
@inject NavigationManager NavigationManager;

<h3>Your shopping Cart</h3>
<article class="cart__wrapper">
    <ul class="cart__items--wrapper">
        @foreach (var item in ShopItems)
        {
            <CartItem ShopItem=@item RemoveFromCart=@RemoveItem></CartItem>
        }
    </ul>
    <section class="cart__checkout--wrapper">
        <p class="cart__checkout--total">Grand total: @CartTotal</p>
        <div class="cart__paymentMethod--wrapper">
            <div class="cart__paymentMethod @(SelectedPaymentMethod == PaymentMethod.MasterCard ? "selected" : "")"
                 @onclick="() => ChangePaymentMethod(PaymentMethod.MasterCard)">
                <p class="cart__paymentMethod--name">MasterCard</p>
                <img class="cart__paymentMethod--image" src="Assets/masterCard.png" alt="MasterCard"/>
            </div>
            <div class="cart__paymentMethod   @(SelectedPaymentMethod == PaymentMethod.PayPal ? "selected" : "")"
                 @onclick="() => ChangePaymentMethod(PaymentMethod.PayPal)">
                <p class="cart__paymentMethod--name">Paypal</p>
                <img class="cart__paymentMethod--image" src="Assets/paypal.png" alt="PayPal"/>
            </div>
            <div class="cart__paymentMethod   @(SelectedPaymentMethod == PaymentMethod.Maestro ? "selected" : "")"
                 @onclick="() => ChangePaymentMethod(PaymentMethod.Maestro)">
                <p class="cart__paymentMethod--name">Maestro</p>
                <img class="cart__paymentMethod--image" src="Assets/maestro.png" alt="Maestro"/>
            </div>
        </div>
        <p class="cart__checkout--button" @onclick="Checkout">Pay and check out</p>

    </section>
</article>


@code {
    private List<ShopItem> ShopItems { get; set; } = new();
    private double CartTotal { get; set; }
    private PaymentMethod SelectedPaymentMethod { get; set; }

    //todo checkout

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        SelectedPaymentMethod = PaymentMethod.MasterCard;
        ShopItems = CartService.GetItems().ToList();
        CartTotal = CartService.GetCartTotal();
    }

    private void RemoveItem(int id)
    {
        CartService.RemoveFromCart(id);
        ShopItems = CartService.GetItems().ToList();
        CartTotal = CartService.GetCartTotal();
        StateHasChanged();
    }

    private void ChangePaymentMethod(PaymentMethod method)
    {
        SelectedPaymentMethod = method;
        StateHasChanged();
    }

    private void Checkout()
    {
        if (CartService.GetNumberOfItemsInCart() == 0)
            return;

        CartService.SetPaymentMethod(SelectedPaymentMethod);
        NavigationManager.NavigateTo("/Checkout");
    }
}