.main__wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 1rem;

}

.header__wrapper{
    display: flex;
    justify-content: space-between;
}

.items__wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cart__wrapper{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    
    
}

.cart__count{
    text-align: center;
}

.item__wrapper{
    width: 28%;
    display: flex;
    flex-flow: column;
    
    justify-content: space-between;
    background-color: rgba(131, 166, 155, 0.46);
    background-color: #F9E148;
}

.item__image{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.item__text--wrapper{
    display: grid;
    grid-template-areas: "name name"
                        "description description"
                        "price addButton";
}

.item__name{
    grid-area: name;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.item__description{
    grid-area: description;
    text-align: center;
}
.item__price{
    grid-area: price;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    
}

.item__price::before{
    content: "€";
}

.item__button{
    grid-area: addButton;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    
    transition: .2s all;
}

.item__button:hover{
    cursor: pointer;
    text-decoration: underline;
}