.main__wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 1rem;

}

.header__wrapper{
    display: flex;
    justify-content: space-between;
}

.items__wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cart__wrapper{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    
    
}

.cart__count{
    text-align: center;
}

.item__wrapper{
    width: 28%;
    border: 4px solid rgba(0, 255, 175, 0.46);
    background-color: rgba(0, 255, 175, 0.46);
}

.item__image{
    width: 100%;
}

.item__text--wrapper{
    display: grid;
    grid-template-areas: "name name"
                        "description description"
                        "price addButton";
}

.item__name{
    grid-area: name;
    text-align: center;
    font-size: 2rem;
    
}

.item__description{
    grid-area: description;
}
.item__price{
    grid-area: price;
}

.item__button{
    grid-area: addButton;
}